footer.footer
  a(name="contacts").anchor
  .container.container--footer
    .footer__columns
      .footer__col-left
        .contacts
          h4.contacts__head Контакты
          .contacts__text
            ul.contacts__list
              - 
                var contacts= [ 
                  {
                      position: 'Режиссер театра',
                      name: 'Юлия',
                      text: '+7(950)040-14-22',
                      link: '+79500401422',
                      type: 'tel'
                  },{
                      position: 'Реклама и PR',
                      name: 'Елизавета',
                      text: '+7(950)010-98-09',
                      link: '+79500109809',
                      type: 'tel'
                  },{
                      position: 'По вопросам сотрудничества и организации спектаклей',
                      name: 'Павел',
                      text: '+7(931)303-20-40',
                      link: '+79313032040',
                      type: 'tel'
                  },{
                      position: 'E-mail',
                      name: '',
                      text: 'zanavesa.net@gmail.com',
                      link: 'zanavesa.net@gmail.com',
                      type: 'mailto'
                  }                 
                ]
              each contact in contacts                       
                li.contacts__item
                  h5.contacts__item-head #{contact.position}
                  if contact.name !== ''
                    h6.contacts__item-name #{contact.name}
                  .contacts__item-call                        
                    a(
                      href=`${contact.type}: ${contact.link}`
                    ).contacts__item-link #{contact.text}
                      .contacts__item-icon
                        +icon(`${contact.type}`, 'contacts__item-pic')
      .footer__col-right
        .socials.socials--allheight
          ul.socials__list
            - 
              var socials= [ 
                {
                    name: 'fb',
                    link: 'https://www.facebook.com/bezzanavesa'
                },{
                    name: 'vk',
                    link: 'https://vk.com/bezzanavesa'
                },{
                    name: 'youtube',
                    link: 'https://www.youtube.com/channel/UC_8d8MYU-WXwnmb0Rs_qPig'
                },{
                    name: 'insta',
                    link: 'https://www.instagram.com/bezzanavesa'
                }
              ]
            each social in socials                    
              li.socials__item.socials__item--row
                a(
                  href=`${social.link}`
                  target="_blank"
                  ).socials__link 
                  +icon(`${social.name}`, 'socials__icon')