section.poster
          a(name="poster").anchor
          .container
            h2.section-head Афиша ноябрь 2019
            .perfomances
              ul.perfomances__list
                - 
                  var events= [ 
                    {
                        date: '22 февраля, суббота 17:00',                        
                        name: '"Биба. Про Сашу Блока."',
                        age: '5+',
                        place: '"Чудетство" Книжный магазин-клуб',
                        city: '"Санкт-Петербург"',
                        adress: 'Кузнечный переулок, д. 13',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://www.instagram.com/p/B8tV8yfIlBD/?igshid=148bapa99h9im',
                        number: '+5',
                        pic: 'biba'
                    },{
                        date: '23 февраля, воскресенье 13:00',                        
                        name: '"Игра в прятки."',
                        age: '4+',
                        place: '"Музей Кукол"',
                        city: '"Санкт-Петербург"',
                        adress: 'ул. Камская, 8',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://lavka.museumdolls.ru/product-category/spektakli-proshedshie-meroprijatija/',
                        number: '+4',
                        pic: 'pryatki'
                    },{
                        date: '27 февраля, четверг 18:00',                        
                        name: '"Биба. Про Сашу Блока."',
                        age: '5+',
                        place: '"Театр "Волшебная Лампа"',
                        city: '"Москва"',
                        adress: 'Сущевская ул,. 25 с. 5',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://vk.com/bezzanavesa',
                        number: '+5',
                        pic: 'biba'
                    },{
                        date: '29 февраля, суббота 11:00',                        
                        name: '"Биба. Про Сашу Блока."',
                        age: '5+',
                        place: '"Библиотека им.А.Ахматовой"',
                        city: '"Москва"',
                        adress: 'ул. Крылатские Холмы, 34 ',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://vk.com/bezzanavesa',
                        number: '+5',
                        pic: 'biba'
                    },{
                        date: '29 февраля, суббота 12:15',                        
                        name: '"Биба. Про Сашу Блока."',
                        age: '5+',
                        place: '"Библиотека им.А.Ахматовой"',
                        city: '"Москва"',
                        adress: 'ул. Крылатские Холмы, 34 ',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://vk.com/smart_biblioteka',
                        number: '+5',
                        pic: 'biba'
                    },{
                        date: '8 марта, воскресенье 11:00',                        
                        name: '"Сказки Шаляпина"',
                        age: '5+',
                        place: '"Центр русской культуры"',
                        city: '"Tallin, Estonia"',
                        adress: 'Mere pst., 5',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://vk.com/smart_biblioteka',
                        number: '+5',
                        pic: 'shalyapin'
                    },{
                        date: '11 марта, среда 17:00',                        
                        name: '"Игра в прятки."',
                        age: '4+',
                        place: '"Библиотека им. М.Ю.Лермонтова"',
                        city: '"Санкт-Петербург"',
                        adress: 'Литейный пр., 19',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://venekeskus.ee/events/%D1%80%D1%83%D0%B1%D1%80%D0%B8%D0%BA%D0%B0/meropriyatie/',
                        number: '+4',
                        pic: 'pryatki'
                    },{
                        date: '21 марта, суббота 13:00',                        
                        name: '"Сказки Шаляпина"',
                        age: '5+',
                        place: '"Библиотека Алвара Аалто"',
                        city: '"Выборг"',
                        adress: 'пр. Суворова, 4',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://vk.com/aaltolibrary',
                        number: '+5',
                        pic: 'shalyapin'
                    },{
                        date: '22 марта, воскресенье 12:00',                        
                        name: '"Сказки Шаляпина"',
                        age: '5+',
                        place: '"Театр "Святая Крепость"',
                        city: '"Выборг"',
                        adress: 'Спортивная ул., 4',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'http://www.teatr-vbg.ru/',
                        number: '+5',
                        pic: 'shalyapin'
                    },{
                        date: '28 марта, суббота 16:00',                        
                        name: '"Сказки Шаляпина"',
                        age: '5+',
                        place: '"Детская библиотека №6"',
                        city: '"Санкт-Петербург"',
                        adress: 'пер. Каховского, 5 Б',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'http://www.teatr-vbg.ru/',
                        number: '+5',
                        pic: 'shalyapin'
                    }

                  ]
                each event in events                    
                  li.perfomances__item
                    if event.pic != ''
                      .poster__avatar
                        +image(`poster/${event.pic}.jpg`, 'poster__avatar-image')
                    .perfomances__date
                      date.perfomances__date-num #{event.date}
                      p.perfomances__date-dateadv #{event.dateadv}
                    h2.perfomances__name #{event.name}
                    .perfomances__other
                      p.perfomances__other-age #{event.age} лет
                      p.perfomances__other-place #{event.place}
                      p.perfomances__other-city #{event.city}
                      p.perfomances__other-adress #{event.adress}
                    .perfomances__button
                      if event.number
                        a(
                          href="https://vk.com/chudetstvobooks?w=wall-143386107_5859"
                          target="_blank"
                        ).btn.btn--width Купить билет                                        
                      else
                        a(
                          data-tc-event=`${event.ticket_cloud_event}`
                          data-tc-token=`${event.ticket_cloud_token}`
                          href=`${event.buy}`
                          target="_blank"
                        ).btn.btn--width Купить билет
                      a(
                      href=`${event.about}`
                      target="_blank"
                      ).btn.btn--width Подробнее                      