section.poster
          a(name="poster").anchor
          .container
            h2.section-head Афиша ноябрь 2019
            .perfomances
              ul.perfomances__list
                - 
                  var events= [ 
                    {
                        date: '17 ноября, воскресенье 13:00',                        
                        name: '"БИБА. Про Сашу Блока"',
                        age: '5+',
                        place: 'Музей-квартира А.А.Блока»',
                        adress: 'ул. Декабристов, д. 57',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',
                        ticket_cloud_token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImlzcyI6InRpY2tldHNjbG91ZC5ydSJ9.eyJwIjoiNWQ5ZGI1ZDU3Yzc4MGZkZGJjZDYxYjk0In0.egM4gU8Mx7yeMFvr6qYcvlwQWdmYtg3dxeFdAxNZAh8',
                        about: 'https://vk.com/topic-22116444_24057143',
                        pic: 'biba'
                    },{
                        date: '24 ноября, воскресенье 12:00',                        
                        name: '"Игра в прятки"',
                        age: '4+',
                        place: 'Детский Интеграционный Театр "Куклы"',
                        adress: 'ул. Жака Дюкло, д. 6, корп. 1',                        
                        call: true,
                        number: '79119254863',
                        about: 'https://vk.com/topic-22116444_32329889',
                        pic: 'pryatki'
                    },{
                        date: '24 ноября, воскресенье 14:00',
                        name: '"Игра в прятки"',
                        age: '4+',
                        place: 'Детский Интеграционный Театр "Куклы"',
                        adress: 'ул. Жака Дюкло, д. 6, корп. 1',                        
                        call: true,
                        number: '79119254863',
                        about: 'https://vk.com/topic-22116444_32329889',
                        pic: 'pryatki'
                    }                    
                  ]
                each event in events                    
                  li.perfomances__item
                    if event.pic != ''
                      .poster__avatar
                        +image(`poster/${event.pic}.jpg`, 'poster__avatar-image')
                    .perfomances__date
                      date.perfomances__date-num #{event.date}
                      p.perfomances__date-dateadv #{event.dateadv}
                    h2.perfomances__name #{event.name}
                    .perfomances__other
                      p.perfomances__other-age #{event.age} лет
                      p.perfomances__other-place #{event.place}
                      p.perfomances__other-adress #{event.adress}
                    .perfomances__button
                      if event.number
                        a(
                          href=`tel: + ${event.number}`                          
                        ).btn.btn--width Купить билет                           
                      else
                        a(
                          data-tc-event=`${event.ticket_cloud_event}`
                          data-tc-token=`${event.ticket_cloud_token}`
                          href=`${event.buy}`
                          target="_blank"
                        ).btn.btn--width Купить билет
                      a(
                      href=`${event.about}`
                      target="_blank"
                      ).btn.btn--width Подробнее