section.poster
          a(name="poster").anchor
          .container
            h2.section-head Лето 2019
            .perfomances
              ul.perfomances__list
                - 
                  var events= [ 
                    {
                        date: '29 июня, 19:00 (суббота)',
                        name: '"Крошечка-Хаврошечка", 5+ (спектакль на Международном фестивале КУКART)',
                        description: 'Нашему театру выпала честь выступить на крупнейшем фестивале кукольных театров "КУКART".Мы будем играть, пожалуй, самый лиричный, эмоционально насыщенныйспектакль из нашего репертуара, и самый необычный, потому что это спектакльбез слов - "Крошечку - Хаврошечку". Вариации на тему известного сюжета, переплетение классической и фольклорной музыки, завораживающая игра артистов, интересные режиссерские задумки. Он понятен детям и удивляет взрослых.',
                        buy: 'https://teatr-bez-zanavesa.timepad.ru/event/982976/',
                        about: 'https://vk.com/bezzanavesa'
                    }
                  ]
                each event in events                    
                  li.perfomances__item 
                    date.perfomances__item-date #{event.date}
                    h2.perfomances__item-name #{event.name}                 
                    p.perfomances__item-description #{event.description}
                    .perfomances__item-buttons
                      a(
                        href=`${event.buy}`
                        target="_blank"
                      ).btn.btn--width Купить билет
                      a(
                        href=`${event.about}`
                        target="_blank"
                      ).btn.btn--width Подробнее