section.poster
          a(name="poster").anchor
          .container
            h2.section-head Афиша ноябрь 2019
            .perfomances
              ul.perfomances__list
                - 
                  var events= [ 
                    {
                        date: '18 января, суббота 17:00',                        
                        name: '"Рождественское чудо"',
                        age: '3+',
                        place: '"Чудетство" Книжный магазин-клуб',
                        adress: 'Кузнечный переулок, д. 13',                        
                        call: true,
                        ticket_cloud_event: '5dc26cb307fca0e583cd5ef6',                        
                        about: 'https://vk.com/bezzanavesa',
                        number: '+7',
                        pic: 'chudo'
                    }                  
                  ]
                each event in events                    
                  li.perfomances__item
                    if event.pic != ''
                      .poster__avatar
                        +image(`poster/${event.pic}.jpg`, 'poster__avatar-image')
                    .perfomances__date
                      date.perfomances__date-num #{event.date}
                      p.perfomances__date-dateadv #{event.dateadv}
                    h2.perfomances__name #{event.name}
                    .perfomances__other
                      p.perfomances__other-age #{event.age} лет
                      p.perfomances__other-place #{event.place}
                      p.perfomances__other-adress #{event.adress}
                    .perfomances__button
                      if event.number
                        a(
                          href="https://vk.com/chudetstvobooks?w=wall-143386107_5859"
                          target="_blank"
                        ).btn.btn--width Купить билет                                        
                      else
                        a(
                          data-tc-event=`${event.ticket_cloud_event}`
                          data-tc-token=`${event.ticket_cloud_token}`
                          href=`${event.buy}`
                          target="_blank"
                        ).btn.btn--width Купить билет
                      a(
                      href=`${event.about}`
                      target="_blank"
                      ).btn.btn--width Подробнее                      