include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Bez-Zanavesa | main page
  body
    .wrapper
      .maincontent
        section.hero
          header.header            
            .container.container-header
              .logo
                +image('logo/logo.png', logo-pic)
              nav.nav
                ul.nav__list
                  - 
                    var items= [ 
                      {
                          name: 'о театре',
                          link: 'https://first'
                      },{
                          name: 'афиша',
                          link: 'https://second'
                      },{
                          name: 'репертуар',
                          link: 'https://third'
                      },{
                          name: 'труппа театра',
                          link: 'https://forth'
                      },{
                          name: 'отзывы',
                          link: 'https://fifth'
                      },{
                          name: 'контакты',
                          link: 'https://sixth'
                      },{
                          name: 'заказать звонок',
                          link: 'https://seven'
                      }
                    ]
                  each item in items                       
                    li.nav__item
                      a(href=`${item.link}`).nav__link #{item.name}
              .socials
                ul.socials__list
                  - 
                    var socials= [ 
                      {
                          name: 'fb',
                          link: 'https://www.facebook.com/bezzanavesa/?rc=p'
                      },{
                          name: 'vk',
                          link: 'https://vk.com/bezzanavesa?w=page-22116444_54117202'
                      },{
                          name: 'youtube',
                          link: 'https://www.youtube.com/channel/UC_8d8MYU-WXwnmb0Rs_qPig'
                      },{
                          name: 'insta',
                          link: 'https://www.instagram.com/bezzanavesa/'
                      }
                    ]
                  each social in socials                    
                    li.socials__item
                      a(href=`${social.link}`).socials__link 
                        +icon(`${social.name}`, 'socials__icon')
          .container.slider-container
            .slider
              .slider-images                
                ul.slider-images__list
                  - for (var i = 1; i < 4; i++)                    
                    li.slider-images__item
                      +image(`slider/${i}.jpg`, 'slider-images__image')
              ul.slider-buttons
                - 
                  var btns= ['left', 'right']
                each btn in btns                  
                  li.slider-buttons__button(class=`slider-buttons__button-${btn}`)
                    a.slider-buttons__arrow
              ul.slider-points
                - for (var i = 0; i < 3; i++)
                  li.slider-points__point
                    a.slider-points__point-btn
        section.poster
          .container
            h2.section-head Лето 2019
            .perfomances
              ul.perfomances__list
                - 
                  var events= [ 
                    {
                        date: '29 июня, 19:00 (суббота)',
                        name: '"Крошечка-Хаврошечка", 5+ (спектакль на Международном фестивале КУКART)',
                        description: 'Нашему театру выпала честь выступить на крупнейшем фестивале кукольных театров "КУКART".Мы будем играть, пожалуй, самый лиричный, эмоционально насыщенныйспектакль из нашего репертуара, и самый необычный, потому что это спектакльбез слов - "Крошечку - Хаврошечку". Вариации на тему известного сюжета, переплетение классической и фольклорной музыки, завораживающая игра артистов, интересные режиссерские задумки. Он понятен детям и удивляет взрослых.',
                        buy: 'Билеты: https://teatr-bez-zanavesa.timepad.ru/event/982976/',
                        about: 'Подробнее о спектакле: https://vk.com/topic-22116444_38415410'
                    }
                  ]
                each event in events                    
                  li.perfomances__item 
                    date.perfomances__item-date #{event.date}
                    h2.perfomances__item-name #{event.name}                 
                    p.perfomances__item-description #{event.description}
                    p.perfomances__item-buy #{event.buy}
                    p.perfomances__item-about  #{event.about}
        section.repertoire         
          .container
            h2.section-head Репертуар театра
            .plays
              ul.plays-list
                - 
                  var plays= [ 
                    {
                        name: '"Биба. Про Сашу Блока". (6+)',
                        description: 'Это трогательная история об одном дне из детства поэта Александра Блока. Маленький Саша на весь день оставлен с няней. Он ссорится и мирится с ней, играет и сочиняет первые стихи, и очень ждет маму. Мы видим как оживают его фантазии, а еще к нему в гости приходит Пьеро и начинаются настоящие чудеса...'
                    },{
                        name: '"Игра в прятки" (4+)',
                        description: 'Кукольный спектакль "Игра в прятки"- это музыкальное представление с веселыми песенками по мотивам сказок английского писателя Дональда Биссета "Муравей и сахар", "Под ковром", "Игра в прятки" и других. Девочка Шейла не любит скучать, она придумывает себе сказочных друзей и начинает с ними играть, а они открывают ей волшебную страну, полную выдумок и чудес.'
                    },{
                        name: '"Сказки Шаляпина" (6+)',
                        description: 'Необычный спектакль, основанный на биографических материалах, сказках и историях, которые Шаляпин сочинял своим детям. Ирина, Лидочка, Борис, Федька и Танечка ждут папу, а он уехал далеко на гастроли. У детей возникают вопросы: что такое театр и почему папа поёт? Любимец Федора Ивановича, пёсик Булька, вместе с гувернанткой и няней рассказывает детям, как папа был маленьким, за что он полюбил театр и приглашают поиграть в театр прямо дома - ведь папину сказку интересно не просто слушать, но и смотреть.'
                    },{
                        name: '"Крошечка - Хаврошечка" (5+)',
                        description: 'Кукольный спектакль по мотивам русской народной сказки, в котором классическая старинная музыка соединяется с народной, а традиционные тряпичные куклы с профессиональными. На старом колесе от прялки, совершенно без слов, артисты разыгрывают историю маленькой сироты и вместе с ангелом-хранителем ведут ее к счастливому финалу.'                  
                    },{
                        name: '"Рождественское чудо" (5+)',
                        description: 'Спектакль поставлен по одноименному рассказу Ольги Першиной и совмещает старое вертепное действие и современную историю. - В самый сочельник Машенька заболела. Она капризничает и не слушается - ведь праздник все равно будет испорчен, ей придется весь день лежать в постели. Но ночью она совершает удивительное путешествие в Вифлеем и просыпается здоровой.'
                    },{
                        name: '"Прогулка со старым трамваем" (12+)',
                        description: 'История о первой девичьей любви, которая переживается на фоне общих демонстраций, производственной гимнастики и построении светлого будущего. Это спектакль-настроение, переносящий зрителя в ностальгический мир советских 60-х. Один из критиков назвал «Прогулку со старым трамваем» историей «о мужской не-мужественности и девичьей наивности, сделанной куклами, которые как никто отличались человечностью, переживали, страдали и разводили руками, когда не могли принять решение…»'                   
                    }
                  ]
                each play in plays                    
                  li.plays__item
                    .plays__item-image
                      +image(`plays/${play.name}.jpg`, 'plays__item-pic')
                    .plays__item-description
                      h2.plays__item-name #{play.name}                 
                      p.plays__item-text #{play.description}
                      button.btn Заказать звонок
        section.video
          .container
            h2.section-head Видео со спектаклей
            .event-video
              ul.event-video__list
                - 
                  var events= [ 
                    {
                        name: '"Крошечка-Хаврошечка" (5+)',
                        description: '- это кукольный спектакль по мотивам русской народной сказки, в котором классическая старинная музыка соединяется с народной, а традиционные тряпичные куклы с профессиональными. На старом колесе от прялки, совершенно без слов, артисты разыгрывают историю маленькой сироты и вместе с ангелом-хранителем ведут ее к счастливому финалу.',
                        link: 'https://www.youtube.com/embed/b80qYS11iZ4',
                    },{
                        name: '"Игра в прятки" (4+)',
                        description: '- Кукольный спектакль "Игра в прятки"- это музыкальное представление с веселыми песенками по мотивам сказок английского писателя Дональда Биссета "Муравей и сахар", "Под ковром", "Игра в прятки" и других. Девочка Шейла не любит скучать, она придумывает себе сказочных друзей и начинает с ними играть, а они открывают ей волшебную страну, полную выдумок и чудес.',
                        link: 'https://www.youtube.com/embed/b80qYS11iZ4',
                    },{
                        name: '"Сказки Шаляпина" (6+) ',
                        description: '- это необычный спектакль, основанный на биографических материалах, сказках и историях, которые Шаляпин сочинял своим детям. Ирина, Лидочка, Борис, Федька и Танечка ждут папу, а он уехал далеко на гастроли. У детей возникают вопросы: что такое театр и почему папа поёт? Любимец Федора Ивановича, пёсик Булька, вместе с гувернанткой и няней рассказывает детям, как папа был маленьким, за что он полюбил театр и приглашают поиграть в театр прямо дома - ведь папину сказку интересно не просто слушать, но и смотреть.',
                        link: 'https://www.youtube.com/embed/6TwKK1gRiX4',
                    }
                  ]
                each event in events                    
                  li.event-video__item                    
                    .trailer
                      .trailer__description
                        h3.trailer__description-head #{event.name}
                        p.trailer-description-text #{event.description}
                      .trailer__video
                        iframe(class="trailer__video-clip" src=`${event.link}` frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        section.feedback      
          .container.container__feedback
            h2.section-head.section-head--feedback Форма обратной связи*
            p.feedback__description 
              |Заполните форму ниже, и выберете желаемую услугу. 
              br
              |Мы ответим Вам в ближайшее время!
            .feedback__form
              form.form
                ul.form__rows
                  - 
                    var rows= [ 
                      {
                          name: 'E-mail',
                          type: 'input',
                          placeholder: 'Ваш E-mail',
                          element: 'email'
                      },{
                          name: 'Имя',
                          type: 'input',
                          placeholder: 'Имя',
                          element: 'name'                     
                      },{
                          name: 'Телефон',
                          type: 'input',
                          placeholder: 'Номер телефона',
                          element: 'tel'                     
                      },{
                          name: 'Вы бы хотели...',
                          type: 'select',
                          placeholder: 'Выберете желаемую услугу',
                          element: 'services'
                      }
                    ]
                  each row in rows                   
                    li.form__row
                      label.form__row-label
                        h4.form__row-head #{row.name}
                        #{row.type}(
                          placeholder=`${row.placeholder}`
                          name=`${row.element}`
                          ).form__row-input
                            - 
                              var options= [
                                { 
                                  opt: 'Выберете желаемую услугу',
                                  value: ''                                  
                                },{ 
                                  opt: 'Купить билет на текущие спектакли',
                                  value: '1'
                                },{
                                  opt: 'Заказать спектакль',
                                  value: '2'
                                },{
                                  opt: 'Пригласить на гастроли',
                                  value: '3'
                                },{
                                  opt: 'Подписаться на рассылку новостей и получить подарок',
                                  value: '4'
                                }
                              ]                              
                            each option in options
                              if row.type == 'select'                            
                                option(color="#fff" value=`${option.value}`).form__option #{option.opt}
                button().btn.btn--form Отправить заявку
        section.about
          .container
            h2.section-head О ТЕАТРЕ            
            h3.about__text <strong>Tеатр «Без занавеса» </strong>родился в 2010 году. Именно в этом году началось сотрудничество с музеем-квартирой А.А.Блока. Режиссер Юлия Морева написала пьесу о детстве поэта, и получив одобрение сотрудников музея, был поставлен спектакль "Биба. Про Сашу Блока", а для первых выступлений было придумано название театра - "Без занавеса". Благодаря этому спектаклю, театр был приглашен на свой первый фестиваль "Московские каникулы" в 2011 году. Получив теплые отзывы и одобрение зрителей и коллег, коллектив театра понял, что хочет продолжать работать и творить вместе. На сегодняшний день театр "Без занавеса" - это группа единомышленников, профессиональных артистов, художников, режиссера, имеющих счастливую возможность придумывать, ставить и играть только то, что хочется. Театр продолжает сотрудничество с музеем А.Блока, наш любимый "Биба" с успехом прошел более 90 раз на различных площадках Санкт-Петербурга и Москвы. С 2015 года нас связывает дружба с музеем-квартирой Ф.И.Шаляпина благодаря спектаклю "Сказки Шаляпина". В этом же году наш театр был принят в сообщество "Бродячие кукольники". Сейчас в репертуаре театра шесть спектаклей, и каждый отличает оригинальный сценарий, свой стиль, например для музыкального спектакля "Игра в прятки" петербургский композитор Евгений Васильев написал специально для нас замечательные песни. Театр принимает участие в благотворительных акциях, наши спектакли за эти годы стали участниками разных фестивалей, и мы очень рады, что везде встречаем благодарного зрителя!
        section.gallery
          .container
            h2.section-head Галерея
            ul.photos
              - 
                var photos= [
                  { 
                    link: '',
                    value: '1'
                  },{
                    link: '',
                    value: '2'
                  },{
                    link: '',
                    value: '3'
                  },{
                    link: '',
                    value: '4'
                  },{
                    link: '',
                    value: '5'
                  },{
                    link: '',
                    value: '6'
                  },{
                    link: '',
                    value: '7'
                  },{
                    link: '',
                    value: '8'
                  },{
                    link: '',
                    value: '9'
                  },{
                    link: '',
                    value: '10'
                  },{
                    link: '',
                    value: '11'
                  },{
                    link: '',
                    value: '12'
                  }
                  //- },{
                  //-   link: '#',
                  //-   value: '13'
                  //- }
                ]                              
              each photo in photos
                li.photos__item
                  a(href=`${photo.link}`).photos__item-link
                    +image(`gallery/${photo.value}.jpg`, 'photos__item-pic')
        section.team
          .container
            h2.section-head ТВОРЧЕСКАЯ ГРУППА
            .people
              ul.people__list
                - 
                  var peoples= [
                    { 
                      name: 'Юлия Морева',
                      position: 'Режиссер театра',
                      description: 'С 1981 - 1984 занималась в театральной студии «Синий мост», с 1983 - 1986 работала в БДТ им. Горького, с 1987 в Санкт-Петербургском Государственном кукольном театре Сказки, с 2010 в Учебном театре РГИСИ (бывш. СПбГАТИ), в 2014 закончила Санкт-Петербургский Государственный Университет культуры и искусств. В 2010 создала театр кукол «Без занавеса». Автор пьесы «Биба» и спектаклей «Биба. Про Сашу Блока», «Прогулка со старым трамваем», «Рождественское чудо», «Игра в прятки», «Сказки Шаляпина», «Крошечка-Хаврошечка».'
                    },{ 
                      name: 'Катерина Вильнер',
                      position: 'Актриса театра',
                      description: 'Актриса, режиссер, педагог. С 5 до 15 лет Катерина занималась в Детском музыкальном театре "Праздник", и дальнейшей своей жизни без праздника уже не видела. В 2008 году закончила ЛОККиИ по специальности "Постановка театрализованных представлений", а в 2014 закончила Санкт-Петербургский Государственный Университет культуры и искусств, кафедра режиссуры. Катерина стояла у истоков Театра "Без занавеса". С момента его зарождения, 2010 года, и по сей день, играет няню Соню в спектакле "Биба. Про Сашу Блока". Также ее можно увидеть в спектаклях , «Прогулка со старым трамваем», «Рождественское чудо», «Игра в прятки» и «Сказки Шаляпина».'
                    },{
                      name: 'Зинаида Еременко',
                      position: 'Актриса театра',
                      description: 'Детская мечта в один прекрасный день заставила Зинаиду повернуть свою жизнь на 360 градусов: уйти из экономического университета и купить билет в один конец в Санкт-Петербург. И не зря! Зина окончила СПбГУКИ по специальности режиссёр, а в 2011 году и присоединилась к театру "Без занавеса" в роли Любочки Менделеевой в спектакле "Биба. Про Сашу Блока", которую исполняет и по сей день. Также увидеть ее можно в спектакле "Сказки Шаляпина" в ролях Амалии Ивановны, няни детей Шаляпина, и любимца наших зрителей Бульки.'
                    },{
                      name: 'Софья Благова-Чернявская',
                      position: 'Актриса театра',
                      description: 'Училась в музыкально-педагогическом колледже.В 2016 году закончила СПбГАТИ, факультет театра кукол, мастерская Т.Р.Стависской С 2012 года работает в Кукольным театре сказки. Занята в спектаклях: «Айболит», «Аладдин и волшебная лампа», «Волшебник Изумрудного города», «Маленький Мук», «Любопытный тигрёнок Бинки» и многих других. С 2014 года актриса в театре Без занавеса. Маленький Саша в спектакле «Биба. Про Сашу Блока», и все друзья и ожившие фантазии девочки Шейлы в «Игре в прятки». Принимает участие в благотворительных проектах нашего театра.'
                    },{
                      name: 'Анна Лебедева',
                      position: 'Актриса театра',
                      description: 'Актриса, режиссер, певица. В 2008м году стала дипломированным специалистом в области музыкальной педагогики. В 2013 году окончила СПБГИК кафедру режиссуры и продюсирования шоу-программ. На протяжении нескольких лет руководила конным театром "Нева", результатом работы стали спектакли "Муха Цокотуха", "Огонь, Вода и Медные Трубы или Сказка о каменной царевне", "Как купец Ерема невесту искал", а так же различные шоу-номера, которые были представлены в рамках международных выставок "Иппосфера" 2013,2014,2015. Параллельно преподавала вокал в детской шоу-группе "Саманта" петербургского композитора Евгении Зарицкой. В 2017-м году стала частью коллектива театра кукол "Посмотрим", принимает участие в постановке "Колючие пушинки и пушистые колючки". На данный момент работает на радио "Петербург" корреспондентом, освещая культурные события города. С 2018го года стала актрисой театра "Без занавеса".'
                    },{
                      name: 'Даниил Рабинович',
                      position: 'Актер театра',
                      description: 'Занимался в театральной мастерской «Штрих» при доме детского творчества Петроградского района, в 2013 году поступил в РГИСИ ( бывш. СПбГАТИ) на факультет театра кукол, мастерская И.К.Ласкари. Принимал участие в спектакле «Горько-медовая фотография» театра «Маленькие великаны». После окончания института работает в театре «Кот Вильям», играет в спектаклях «Красная шапочка», «Сказки», «Лесные истории», «Серый волк и пианино», «В гостях у кошки». С 2017 года актёр театра Без занавеса, занят в спектаклях «Биба. Про Сашу Блока» и «Крошечка-Хаврошечка».'
                    },{
                      name: 'Станислав Демин',
                      position: 'Актер театра',
                      description: 'Окончил РГИСИ. Актёр в МТК - малый театр кукол. В театре Без занавеса с 2015 года. Играет в «Биба. Про Сашу Блока» Пьеро.'
                    },{
                      name: 'Тамара Путрик',
                      position: 'Актриса театра',
                      description: '2016 г. закончила Екатеринбургский Государственный Театральный Институт, факультет театра кукол, мастерская Н. Г. Холмогоровой 2016-2017 г. актриса в Омском Государственном театре куклы, актёра, маски "Арлекин" С 2017 г. актриса в Санкт-Петербургском Государственном "Кукольном Театре Сказки", занята в спектаклях: Волшебник Изумрудного города, Снежная королева, Чу-ко-ко, Сказки африканского леса,Королевский бутерброд, Маленький Мук, Приключения незадачливого дракона и других. В театре Без занавеса её можно увидеть в спектакле «Игра в прятки» и Крошечка-Хаврошечка» в роли Хаврошечки.'
                    },{
                      name: 'Роман Антонюк',
                      position: 'Актер и продюсер театра',
                      description: 'Мой путь к театру был долoг и тернист. С 1995 года я начал заниматься балетом. Но, что-то пошло не так и уже через пару лет я остался единственным мальчиком в группе. Тогда за полярным кругом в далеком Мурманске я познакомился с театром-студией "Катарсис". Закончив школу с математическим уклоном, я с лёгкостью поступил в Университет Культуры и искусств на режиссерский факультет. Каких-то 9 лет, (да, именно 9) и я уже дипломированный специалист 2013 года выпуска. По пути работал в Михайловском театре, занимался организацией экскурсий в Финляндии, трудился на родном факультете, работал режиссером в Кронштадтском ДК, был аниматором, актером в небольших постановках, а также замещал несколько лет руководителя театральной студии в ЦКД "Кировец". Знакомство с театром кукол "Без занавеса" было случайным, но завораживающим. До сих пор мы неразлучные друзья.'
                    }
                  ]                              
                each people in peoples
                  li.people__item
                    .actor
                      .actor__avatar
                        +image(`team/${people.name}.jpg`, 'actor__avatar-pic')
                      .actor__description
                        h4.actor__description-name #{people.name}
                        h5.actor__description-position #{people.position}
                        p.actor__description-text #{people.description}
        section.partners
          .container
            h2.section-head.section-head--partners Друзья и партнеры
            .friends
              ul.friends__list
                - for (var i = 1; i < 5; i++)
                  li.friends__item
                    .friends__item-avatar
                      +image(`partners/${i}.jpg`, '.friends__item-avatar')
        section.reviews
          .container
            h2.section-head отзывы
            h3.reviews__more
              .opinions
                ul.opinions__list
                  - 
                    var opinions= [
                      { 
                        text: 'С коллективом " Театр без занавеса" знакома с момента их зарождения. Каждый спектакль для меня открытие. Спектакль " Крошечка-Хаврошечка" уникален в своем роде. Во- первых материал не слишком популярный для детских театров. Во- вторых, эмоциональная передача исключительно жестовая с музыкальной окраской В - третьих,отсылки к народным промыслам и ремеслам делают его абсолютно этническим, что само по себе ценно. Отдельно хочется отметить кукловодов. Передача своего отношения к персонажу, владение им как средством выражения просто потрясающее! Спектакль очень тёплый...(начиная с пухового платка) и отсылающий к истокам... Спасибо,что вы есть! Надеюсь на новые встречи и новые спектакли!',
                        name: 'Елена Чурбакова',
                        link: 'https://vk.com/id7170492'
                      },{ 
                        text: '28 марта 2015 года театр "Без занавеса" устроил благотворительный показ замечательного спектакля "Биба" для детей инвалидов и детей с особенностями в развитии - подопечных БРОО "Особый Петербург". Дети и родители очень счастливы, спектакль очень понравился и тронул до глубины души!!! От имени БРОО «Особый Петербург» и наших подопечных выражаем всему дружному коллективу театра «Без занавеса» искреннюю признательность и благодарность за сотрудничество, дружбу, а также за неоценимый вклад в развитие отечественной благотворительности. Низкий поклон за ваш труд, доброту, милосердие и неравнодушное отношение к детям с ограниченными возможностями. Желаем вам здоровья, благополучия, процветания и творческих успехов!!! ',
                        name: 'Ольга Крылова',
                        link: 'https://vk.com/id277697202'
                      },{
                        text: 'Спасибо, спектакль очень трогательный, ребенок смотрел не отрываясь. Я во время представления наблюдала за мимикой актеров, мне кажется они полностью перевоплотились в своих персонажей, было очень интересно. Еще раз спасибо за искренность и теплоту!',
                        name: 'Лидия Алексеева',
                        link: 'https://vk.com/id12132153'
                      },{
                        text: 'Потрясающий спектакль! Я уже давно мечтал попасть на него, но как-то не складывалось. Сегодня моя мечта осуществилась. Очень динамичный и живой спектакль! От самого начала выхода актеров до поклона он держит тебя в восхищении и окунает в волшебство представления! Спектакль подходит абсолютно всем и взрослым и детям. Спасибо большое коллективу спектакля, мне было по-настоящему приятно провести время в вашей компании! Ваш профессионализм и мастерская игра на сцене очень вдохновили меня!',
                        name: 'Саша Жуков',
                        link: 'https://vk.com/id282500'
                      },{
                        text: 'Посетили с дочкой спектакль «Сказки Шаляпина». Впечатлились, спектакль с красивыми декорациями, интересными характерными куклами. Большое спасибо актёрам за их мастерство, дочь полностью прониклась сказкой: смеялась от души над забавной Булькой. Да и сама обстановка в Театральной долине очень чудесная, сотрудники вежливые и приветливые. Мы остались довольными от увиденного. Обязательно посетим и другие спектакли.',
                        name: 'Olga Mylnikova',
                        link: 'https://vk.com/id840684'
                      },{
                        text: 'Огромное спасибо режиссеру спектакля Юлии Моревой , замечательный спектакль, волшебная атмосфера. Иногда в жизни как раз этого и не хватает. Отдельное спасибо актерам !!Еременко Зинаида и Екатерина Вильнер, играли бесподобно как будто персонажи того времени перенеслись в наш 21 век. Дочку мою покорила Булька, обязательно напишем письмо. Были первый раз и теперь знаем , что не последний. По больше бы таких интересных спектаклей детям , которые несут не только эстетическое удовольствие , но и интеллектуальное!',
                        name: 'Ксения Мельниченко',
                        link: 'https://vk.com/id2393492'
                      }
                    ]                              
                  each opinion in opinions
                    li.opinions__item
                      p.opinions__item-text #{opinion.text}
                      a(href=`${opinion.link}`).opinions__item-link
                        h4.opinions__item-name #{opinion.name}
        section.contacts
          h2.section-head.section-head--centered Контакты
          p.contacts__text 
            |+7 (950) 040-14-22
            br
            |bezzanavesa@mail.ru
          .socials.socials--contacts
            ul.socials__list
              - 
                var socials= [ 
                  {
                      name: 'fb',
                      link: 'https://www.facebook.com/bezzanavesa/?rc=p'
                  },{
                      name: 'vk',
                      link: 'https://vk.com/bezzanavesa?w=page-22116444_54117202'
                  },{
                      name: 'youtube',
                      link: 'https://www.youtube.com/channel/UC_8d8MYU-WXwnmb0Rs_qPig'
                  },{
                      name: 'insta',
                      link: 'https://www.instagram.com/bezzanavesa/'
                  }
                ]
              each social in socials                    
                li.socials__item
                  a(href=`${social.link}`).socials__link 
                    +icon(`${social.name}`, 'socials__icon')
        section.docs
          .container
            a(href="https://docs.google.com/document/d/1ZPKdL-mzzU7N5YcQu2DJHHkAGjxvuYqolwmLFsPl6jA/edit?usp=sharing").docs__link
              p.docs__link-text Соглашение на обработку персональных данных 
        footer.footer