include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.hero
          header.header            
            .container.container-header
              .logo
                +image('logo/logo.png', logo-pic)
              nav.nav
                ul.nav__list
                  - 
                    var items= [ 
                      {
                          name: 'о театре',
                          link: 'https://first'
                      },{
                          name: 'афиша',
                          link: 'https://second'
                      },{
                          name: 'репертуар',
                          link: 'https://third'
                      },{
                          name: 'труппа театра',
                          link: 'https://forth'
                      },{
                          name: 'отзывы',
                          link: 'https://fifth'
                      },{
                          name: 'контакты',
                          link: 'https://sixth'
                      },{
                          name: 'заказать звонок',
                          link: 'https://seven'
                      }
                    ]
                  each item in items                       
                    li.nav__item
                      a(href=`${item.link}`).nav__link #{item.name}
              .socials
                ul.socials__list
                  - 
                    var socials= [ 
                      {
                          name: 'fb',
                          link: 'https://fb'
                      },{
                          name: 'vk',
                          link: 'https://vk'
                      },{
                          name: 'youtube',
                          link: 'https://youtube'
                      },{
                          name: 'insta',
                          link: 'https://insta'
                      }
                    ]
                  each social in socials                    
                    li.socials__item
                      a(href=`${social.link}`).socials__link 
                        +icon(`${social.name}`, 'socials__icon')
          .container.slider-container
            .slider
              .slider-images                
                ul.slider-images__list
                  - for (var i = 1; i < 4; i++)
                    li.slider-images__item
                      +image(`slider/${i}.jpg`, 'slider-images__image')
              ul.slider-buttons
                - 
                  var btns= ['left', 'right']
                each btn in btns                  
                  li.slider-buttons__button(class=`slider-buttons__button-${btn}`)
                    a.slider-buttons__arrow
              ul.slider-points
                - for (var i = 0; i < 3; i++)
                  li.slider-points__point
                    a.slider-points__point-btn
        section.poster